* {
    padding: 0;
    margin: 0;
}

header {
    
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    height:5em ;
    
}
img {
    height: 60px;
    margin: 10px;
}
.logo {
    display: flex;    
    align-items: center;
    
}
.contato{
    display: flex;
    float: right;
    align-items: center;
    margin: 1em;
    font-size: 20px;
    color: rgb(67, 67, 124);

    
}
.ri-whatsapp-fill{
    border-radius: 100%;
    padding: 0;
    color:green;
    margin: 5px;
}
section {
    display: flex;
    background-image: url("1b209ec8-9578-4b7f-b94c-2c6360b32821.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center center;
    
}

.informacao{
    display: flex;
    text-align: center;
    margin: 0,1em;

    
   
}
.cadastro {
    display: flex;
    flex-direction: column;
    background-color: rgba(62, 62, 62, 0.37);
    font-family: 'Roboto', sans-serif;
    color:rgba(251, 251, 251, 0.77);

    max-width: 400px;
    max-height: 500px;
    margin: 3em;
}
h2{
    
    display: flex;
    text-align: center;
    margin: 0,1em;
}
input,button{
    border-radius: 10px;
    width: 70%;
    height: 70%;
    margin-top: 30px;
    padding: 8px;
    align-items: center;
    border-style: none;
}
button{
    background-color: rgb(207, 93, 93);
    color: white;
    font-size: 15px;
}

.cad1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

footer{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
